## EXAMPLE 1: using a simple dataframe

In [31]:
import pandas as pd
import numpy as np

# Create a DataFrame with missing values
data = {
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, 7, 8],
    'C': [9, 10, 11, 12]
}

df = pd.DataFrame(data)

# Display the DataFrame with missing values
print("DataFrame with Missing Values:")
print(df)

DataFrame with Missing Values:
     A    B   C
0  1.0  5.0   9
1  2.0  NaN  10
2  NaN  7.0  11
3  4.0  8.0  12

In [32]:
#checks for missing values,returns boolean values
df.isnull()

       A      B      C
0  False  False  False
1  False   True  False
2   True  False  False
3  False  False  False

In [33]:
#counts the missing value in each column
df.isnull().sum()

A    1
B    1
C    0
dtype: int64

In [34]:
df1=df# storing the dataframe in another variable df1
print(df1)
print(df)
# drop rows with any misiing values
print("after dropping the values....")

print(df.dropna())

     A    B   C
0  1.0  5.0   9
1  2.0  NaN  10
2  NaN  7.0  11
3  4.0  8.0  12
     A    B   C
0  1.0  5.0   9
1  2.0  NaN  10
2  NaN  7.0  11
3  4.0  8.0  12
after dropping the values....
     A    B   C
0  1.0  5.0   9
3  4.0  8.0  12

In [29]:
#the inplace=True parameter in pandas is used to modify the DataFrame directly without the need to create a new DataFrame. When inplace=True is specified, the changes are applied to the existing DataFrame, and there is no need to assign the result back to a variable.
df.dropna(inplace=True)

In [38]:
df

    C
0   9
1  10
2  11
3  12

In [37]:
df2=df1
#dropping colums with missing values
print(df1)
df1.dropna(axis=1,inplace=True)
print(df1)

     A    B   C
0  1.0  5.0   9
1  2.0  NaN  10
2  NaN  7.0  11
3  4.0  8.0  12
    C
0   9
1  10
2  11
3  12

In [39]:
#drop rows if all values are missing

df2.dropna(how='all')

    C
0   9
1  10
2  11
3  12

In [41]:
# to fill the value of missing value 
df.fillna(0)

    C
0   9
1  10
2  11
3  12

In [45]:
#importing datasets
#In Python, the os.path module provides a way to work with file paths in a platform-independent manner. It helps you manipulate file paths by providing functions to join paths, split paths, get the basename, dirname, etc.
import os

# Example 1:using 'os.path.join'
folder_path = '/Users/aditinarayan/Documents/btech_yr_3/Data_mining/datasets/house-prices-advanced-regression-techniques'
file_name = 'data_description.txt'
full_path = os.path.join(folder_path, file_name)
print("Full Path:", full_path)
print("----------------------------")

#example 2:using os.path.split()
full_path = '/Users/aditinarayan/Documents/btech_yr_3/Data_mining/datasets/house-prices-advanced-regression-techniques/data_description.txt'
directory, file_name = os.path.split(full_path)
print("Directory:", directory)
print("File Name:", file_name)

#example 3 :absolute and relative path
relative_path = 'Data_mining/datasets/house-prices-advanced-regression-techniques/data_description.txt'
absolute_path = os.path.abspath(relative_path)
print("Absolute Path:", absolute_path)

Full Path: /Users/aditinarayan/Documents/btech_yr_3/Data_mining/datasets/house-prices-advanced-regression-techniques/data_description.txt
----------------------------
Directory: /Users/aditinarayan/Documents/btech_yr_3/Data_mining/datasets/house-prices-advanced-regression-techniques
File Name: data_description.txt
Absolute Path: /Users/aditinarayan/Documents/btech_yr_3/Data_mining/Internal1/Data_mining/datasets/house-prices-advanced-regression-techniques/data_description.txt